<!--
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Red Path                                                                 |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los autores de los posts.           |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
-->
<post-preview
*ngFor="let post of posts"
[post]="post"
(autorSelecionado)="postAutor($event)"
(postSelecionado)="detallePost($event)"></post-preview>
<!--
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Green Path                                                               |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los posts.                          |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
ok-->

<post-preview *ngFor="let post of posts" [post]="post" (postSelecionado)="detallePost($event)"></post-preview>
